<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header_title">通知配信プラットフォームV2</div>
    <div class="login_wrap">
      <p class="text">メールアドレス</p>
      <input type="text" name="*">
      <p class="text">パスワード</p>
      <input type="text" name="*">
      </br></br>
      <a href="<%= link_application.href %>"><input type="submit" value="ログイン" class="login_btn"></a>
    </div>

  </body>
</html>
